.screen{
  width: 500px;
  height: 20px;
  background: #ccc;
  margin: 20px auto;
  color: #ccc;
  text-align: center;
  font-size: 14px;
}
.seats {
  text-align: center;
  margin: 200px auto 0;
}
.seat{
  margin: 2px;
  color: #777;
}
.seat-row {
  margin: 20px 0;
}
.seat:hover{
  cursor: pointer;
}
.seat.none{
  color:#fff;
}
.seat.disabled{
  color:#ff0000;
}
.seat.selected{
  color:green;
}
.info{
  margin: 0 auto
}
.info .label{
  text-align: center;
  width: 80px;
  margin: 5px;
  background: #eee;
  border: 1px solid #999;
  padding: 5px 0px;
  color: #888;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
}