.map-search{
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background: rgba(0, 0, 0, .01)
}
.input{
  padding: 10px 10px 0 ;
}
.input input{
  border-radius: 4px;
  border-style: none;
  width: 500px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  padding-left: 15px;
  outline:none;
}
.map-search .icon{
  display: inline-block;
  height: 45px;
  line-height: 45px;
  width: 50px;
  text-align: center;
  background: #46a2ff
}
.map-search .icon i {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.map-search .panel {
  margin: 0 10px;
  width: 515px;
  background: #fff;
}
.panel-item {
  padding: 10px;
  font-size: 14px;
  color: #777;
}
.panel-item:hover{
  background: #eee;
  cursor: default;
}
.address-district {
  padding-left: 10px;
  color: #ccc;
}
.poi-name {
  color: #000;
}