.cut {
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: 5;
  border: 1px dashed red;
  background: transparent !important;
}

.cut:hover {
  cursor: move;
}

.stretch {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -30px;
  right: -30px;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  z-index: 6;
}

.stretch:hover {
  cursor: se-resize;
}

.hide {
  display: none;
}